<div class="form">
    <form #addForm="ngForm" (ngSubmit)="onSubmitAddForm(addForm)">
        <label for="name">Name:</label>
        <input required #name="ngModel" ngModel id="name" name="name" type="text">

        <label for="price">Price:</label>
        <input required #price="ngModel" ngModel type="number" id="price" name="price">

        <label for="quantity">Quantity:</label>
        <input required #quantity="ngModel" ngModel type="number" id="quantity" name="quantity">

        <button [disabled]="addForm.invalid" type="submit">Add product</button>
    </form>
</div>

<app-product-container>
    <app-product-item *ngFor="let product of products; let i = index" (editProduct)="openEditModal($event)"
        (deleteProduct)="deleteProduct($event)" [product]="product" [index]="i"></app-product-item>
</app-product-container>

<div *ngIf="selectedProduct" (click)="closeEditModal()" class="updateModal">
    <form (click)="$event.stopPropagation()" #editForm="ngForm" (ngSubmit)="onSubmitEditForm(editForm)">
        <label for="name">Name:</label>
        <input [(ngModel)]="selectedProduct.name" required #name="ngModel" ngModel id="name" name="name" type="text">

        <label for="price">Price:</label>
        <input [(ngModel)]="selectedProduct.price" required #price="ngModel" ngModel type="number" id="price"
            name="price">

        <label for="quantity">Quantity:</label>
        <input [(ngModel)]="selectedProduct.quantity" required #quantity="ngModel" ngModel type="number" id="quantity"
            name="quantity">

        <button [disabled]="editForm.invalid" type="submit">Edit product</button>
    </form>
</div>